.hederhome {
  background-color: var(--primary);
  background-image: url(../../../public//imges//Vector.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 600px;
  padding: 34px 0px;
  margin: 15px 0;
  position: relative;
  border-radius: 20px;
  overflow-x: hidden;
}
.hederhome.en {
  direction: rtl;
}
.hederhome .contant {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 30px;
  margin-top: 70px;
}
.hederhome .contant .first-div {
  display: flex;
  width: fit-content;
  gap: 12px;
  align-items: center;
  background: white;
  padding: 6px 17px;
  border-radius: 21px;
  font-size: 15px;
  justify-content: center;
}
.hederhome .contant .first-div .icon {
  color: var(--primary);
}
.hederhome .contant .first-div p {
  margin: 0;
  font-size: 15px;
  color: var(--primary);
}
.hederhome .contant h1 {
  margin-top: 10px;
  margin-bottom: 10px;
  /* color: white; */
  font-size: 50px;
  /* margin: 10px; */
  /* max-width: 450px; */
}
.hederhome .contant p {
  font-size: 17px;
  color: white;
  margin-bottom: 20px;
  font-weight: 100;
  width: 100%;
}
.hederhome .contant .links {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 30px;
}
.hederhome .contant .links .link1 {
  background: white;
  padding: 10px 15px;
  border-radius: 30px;
  text-decoration: none;
  border: 2px solid white;
  transition: 0.4s;
  margin: 10px 0;
}
.hederhome .contant .links .link1:hover {
  background-color: transparent;
  color: white;
}
.hederhome .contant .links .link2 {
  padding: 10px 15px;
  color: white;
  text-decoration: none;
  border: 1px solid;
  border-radius: 30px;
  text-decoration: none;
  color: white;
  margin: 10px 0;
  display: block;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-direction: row;
  transition: 0.3s;
}
.hederhome .contant .links .link2.en {
  flex-direction: row-reverse;
}
.hederhome .contant .links .link2:hover {
  background-color: white;
  color: var(--primary);
}

.hederhome .contant .links .icon {
  font-size: 12px;
  margin-left: 6px;
}
.hederhome img.ar {
  position: absolute;
  bottom: 0;
  right: 0;
  width:600px;
}
.hederhome img.en {
  position: absolute;
  transform: rotateY(180deg);
  bottom: 0;
  left: 0;
  width: 600px;
}
@media (max-width: 1200px) {
  .hederhome .contant h1 {
    font-size: 49px;
  }
  .hederhome img.ar {
    position: absolute;
    bottom: 0;
    right: 0;
    width:500px;
  }
  .hederhome img.en {
    position: absolute;
    transform: rotateY(180deg);
    bottom: 0;
    left: 0;
    width: 500px;
  }
}
@media (max-width: 955px) {
  .hederhome .contant .first-div p {
    font-size: 13px;
  }
  .hederhome .contant h1 {
    font-size: 43px;
  }
  .hederhome .contant p {
    font-size: 14px;
  }
  .hederhome .contant {
    margin-left: 25px;
  }
  /* .hederhome img.en,
  .hederhome img.ar {
    width: 420px;
  } */
}
@media (max-width: 992px) {
  .hederhome img.en,
  .hederhome img.ar {
    width: 420px;
  }
}

@media (max-width: 940px) {
  .hederhome {
    height: 500px;
  }
}
@media (max-width: 900px) {
  .hederhome {
    margin-top: 0;
    border-radius: 0;
  }
}
@media (max-width: 820px) {
  .hederhome img.en,
  .hederhome img.ar {
    width: 350px;
  }
  .hederhome .contant h1 {
    font-size: 40px;
    max-width: 370px;

  }
  .hederhome .contant .links .link2,
  .hederhome .contant .links .link1 {
    padding: 8px;
  }
  .hederhome .contant p {
    max-width: 320px;
  }
  .container-lg {
    padding: 0;
  }
}
@media (max-width: 690px) {
  .hederhome img.en,
  .hederhome img.ar {
    /* width: 70%; */
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translate(50%);
  }
  .hederhome .cont {
    display: flex;
    justify-content: center;
  }
  .hederhome {
    min-height: 850px;
  }
}
@media (max-width: 450px) {
  .hederhome {
    min-height: 900px;
  }
  .hederhome img.en,
  .hederhome img.ar {
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translate(50%);
  }
  .hederhome .contant .links {
    flex-wrap: wrap;
  }
  .hederhome .contant h1 {
    font-size: 35px;
  }
  .hederhome .contant {
    margin: 70px 10px 20px 10px;
  }
  .hederhome .contant .first-div {
    flex-wrap: wrap;
    padding: 10px;
  }
  .hederhome .contant .first-div p {
    font-size: 14px;
    text-align: center;
  }
  .hederhome {
    border-radius: 0;
  }
  .hederhome .contant p {
    font-size: 15px;
  }
}
